<!DOCTYPE html><html>
    <head>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
        <link rel="stylesheet" href="style.css"  />
    </head>
    <body>
        <div class="header">
            <h1>StreamONCE</h1>
            <p>stream to your heart's content</p>
          </div>
        <div class="entry">
            <p id="room-p">Room ID: </p>
            <input class="form" placeholder="Change Video Stream">
            <br>
            <button class="glow-on-hover" >Stream</button>
        </div>
        <div id="container">
            <video id="player" playsinline controls>
                <source src="some.mp4" type="video/mp4" />
            </video>
        </div>
        
         <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
        <script defer>
            const socket = io(`ws://${window.location.hostname}:4000`)
            const player = new Plyr('#player');
            socket.emit('create-room')
            var groom = 'room-test'
            socket.on('announce-room', (room) => {
                console.log(`Room Received: ${room}`)
                groom = room
                document.querySelector('p#room-p').innerHTML = `Room ID: ${groom}`
            })

            document.querySelector('button').onclick = () => {
                const param = document.querySelector('input').value;
                console.log('Sending message '+param)
                socket.emit('control', `VIDEO-${param}`)
                if(param.search('youtube') == -1) {
                        player.source = {
                        type: 'video',
                        title: 'Streaming Video',
                        sources: [
                            {src: param}
                        ]}
                    }
                else {
                        console.log('Youtube Video Detected')
                        var videoID = param.slice(param.indexOf("=")+1)
                        console.log(videoID)
                        player.source = {
                        type: 'video',
                        title: 'Streaming Video',
                        sources: [
                            {
                                src: videoID,
                                provider: 'youtube'
                            }
                        ]}
                    }
                }
            //PLAY-10:01 PAUSE-10:00 SEEK-10:00
            player.on('play', event =>{
                console.log('Played')
                socket.emit('control', `PLAY-${player.currentTime}`)
            });
            player.on('pause', event =>{
                console.log('Paused')
                socket.emit('control', `PAUSE-${player.currentTime}`)
            });
            player.on('seek', event =>{
                console.log('Seeked')
                socket.emit('control', `SEEK-${player.currentTime}`)
            });
        </script>
    </body>
</html>